@font-face {
    font-family: "PassionOne";
    src: url('fontes/PassionOne-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "Sriracha";
    src: url('fontes/Sriracha-Regular.ttf') format('truetype');
}

body {
    background-color: black;
}

h1 {
    font-family: 'PassionOne', sans-serif;
    text-align: center;
    color: white;
}

p {
    font-family: 'Sriracha', cursive;
    text-align: center;
    color: white;
}
